.agent-ul{
    .btn_add_resource{
        position:relative;
    }
    .resource-modal{
        text-align: left;
        font-size:12px;
        color:#333e4a;
        position:absolute;
        border:1px solid #25bfd6;
        background:white;
        width:600px;
        padding:20px;
        z-index:100;
        top: 40px;
        left:-20px;
        &:hover{
            cursor:default;
        }
        .up-arraw{
            border-top:1px solid #25bfd6;
            border-left:1px solid #25bfd6;
            width:10px;
            height:10px;
            background:white;
            transform:rotateZ(45deg);
            position:absolute;
            top:-6px;
            left:28px;
        }
        .btn_close{
            color:#00b4cf;
            position: absolute;
            transform:rotateZ(45deg);
            top:10px;
            right:20px;
            &:hover{
                color:#09c5e1;
            }
        }
        .inputw{
            height:35px;
            line-height: 35px;
            margin-top:10px;
            input{
                border:0;
                height:100%;
                line-height:100%;
                border-radius: 0;
                display: block;
                width:100%;
                outline:none;
                padding: 0 15px;
                box-sizing: border-box;
                border:1px solid #dcdcdc;
                &:focus{
                    border: 1px solid #25bfd6;
                }
            }
        }
        .btnw{
            margin-top:20px;
            .btn{
                float:left;
                &:hover{
                    cursor:pointer;
                }
                &.btn-cancel{
                    background:#2d4054;
                    &:hover{
                        background:#44617f;
                    }
                }
            }
        }
        .btn-cancel{
            margin-left:20px;
            
        }

    }
    
}
